<div class="row">
  <div class="col-xs-12">
    <!-- <img src={{recipe.imagePath}} alt="" class="img-responsive" style="max-height: 100px;"/> -->
  </div>
</div>

<div class="row">
  <div class="col col-xs-6 mt-2">
    <h1>{{recipe.name}}</h1>
  </div>
  <div class="col col-xs-6 mt-5" style="text-align: right;">
    <img src={{recipe.imagePath}} alt="" class="img-responsive" style="max-height: 100px; ; border-radius: 50%;"/>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" role="group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Manage Recipe
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Add Ingredient</a></li>
        <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
        <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row"><div class="col-xs-12">{{recipe.description}}</div></div>

<div class="row">
  <div class="col-xs-12">Ingredients</div>
</div>
